*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}
body{
    background-image: url("Fundo.png");
    background-color: royalblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.form{
    background: #d3d3d3;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #ff8c00;
    border-radius: 10px;
    margin-top: 50px;
}
h1{
    left: #ffff;
}
input,select{
    border-radius: 10px;
    height: 30px;
    border: none;
}
input[type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}
input[type="submit"]:hover{
    background: #069;
    color: #fff;
}